Main/src/SnippetCache.WebUI/Service References/ManagerService/SnippetCacheManagerService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nategreenwood.com/services/snippetcache/ManagersWcf/SnippetCacheManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" />
  <xs:import schemaLocation="http://nategreenwood.com/services/snippetcache/ManagersWcf/SnippetCacheManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateSnippet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="snippet" nillable="true" type="q1:SnippetDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="language" nillable="true" type="q2:LanguageDTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="user" nillable="true" type="q3:UserDTO" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="files" nillable="true" type="q4:ArrayOfFileDTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="links" nillable="true" type="q5:ArrayOfHyperlinkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSnippetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="CreateSnippetResult" nillable="true" type="q6:SnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="FindSnippetsByUserResult" nillable="true" type="q8:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsByUserPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q9:guid" />
        <xs:element minOccurs="0" name="snippetsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsByUserPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="FindSnippetsByUserPagedResult" nillable="true" type="q10:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="FindSnippetsResult" nillable="true" type="q11:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSnippetsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="FindSnippetsPagedResult" nillable="true" type="q12:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetSnippetsResult" nillable="true" type="q13:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublicSnippets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snippetsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublicSnippetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetAllPublicSnippetsResult" nillable="true" type="q14:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetSnippetResult" nillable="true" type="q15:SnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippetsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snippetsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippetsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetSnippetsByPageResult" nillable="true" type="q16:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivateSnippets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivateSnippetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetPrivateSnippetsResult" nillable="true" type="q18:ArrayOfSnippetDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesForDisplay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesForDisplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetLanguagesForDisplayResult" nillable="true" type="q19:ArrayOfLanguageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalSnippetCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalSnippetCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalSnippetCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHyperlinksForSnippet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="snippetId" type="q20:guid" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHyperlinksForSnippetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetHyperlinksForSnippetResult" nillable="true" type="q22:ArrayOfHyperlinkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesForSnippet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="snippetId" type="q23:guid" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesForSnippetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="GetFilesForSnippetResult" nillable="true" type="q25:ArrayOfFileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="UserDetailsResult" nillable="true" type="q27:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="userDto" nillable="true" type="q28:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnreadUserNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnreadUserNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="UnreadUserNotificationResult" nillable="true" type="q30:ArrayOfNotificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="notification" nillable="true" type="q31:NotificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SnippetCache.Data.DTO" minOccurs="0" name="notification" nillable="true" type="q32:NotificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>